<mat-toolbar color="primary" class="mat-elevation-z6">
  <button mat-mini-fab color="primary" class="home" (click)="goHome()">
    <mat-icon>home</mat-icon>
  </button>
  Angular Material Playground
  <span class="example-spacer"></span>

  <button mat-button class="toggle"
          matTooltip="Toggle Light / Dark Theme"
          matTooltipPosition="below"
          (click)="toggleTheme()">
    <mat-icon>format_color_fill</mat-icon>
  </button>

</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav mode="side"
               [opened]="true"
               [fixedInViewport]="0"
               [fixedTopGap]="64"
               [fixedBottomGap]="0">

    <mat-nav-list>
      <a routerLink="/feature-a" mat-list-item >
        <span mat-line>Lazy load Feature A</span>
      </a>

      <a routerLink="/feature-b" mat-list-item >
        <span mat-line>Lazy load Feature B</span>
      </a>

<!--      <a routerLink="/feature-c" mat-list-item >-->
<!--        <span mat-line>Lazy load Feature C</span>-->
<!--      </a>-->


    </mat-nav-list>


  </mat-sidenav>
  <mat-sidenav-content>

    <div class="app-content">
      <router-outlet></router-outlet>
    </div>


  </mat-sidenav-content>
</mat-sidenav-container>
