<div class="mat-h2">
  NGRX Research
</div>

<p>
  Experiment with NGRX Feature stores.
</p>


<div class="mat-h2 section">
  PR's Welcome!
</div>

<p class="mat-h4">
  PR's welcome! <a mat-raised-button color="primary" class="github-buttom"
                   target="_blank"
                   href="https://github.com/UIUXEngineering/stackblitz-ngrx-research"
                                   aria-label="GitHub Repository">
                  <img class="docs-angular-logo"
                       src="./assets/img/homepage/github-circle-white-transparent.svg"
                       alt="angular material">
                  GitHub
                </a>
</p>



